@model Kayateia.Climoo.Models.SidebarInfo
@using Kayateia.Climoo.MooCore
@{
	// A couple of special conditions exist here since we're using a disposable ShadowWorld
	// to access stuff. Namely:
	// - Don't write anything
	// - Assume that stuff on Player (like URL generation) isn't going to work.
}
@if( Model.player != null )
{
<div id="sidebar-content">
	<div class="top-box">
		<div class="player-name">@Model.playerMob.name</div>
		<div class="room-name">@Model.location.name</div>
		@if( Model.location.attrHas( "image" ) )
		{
			<div class="room-image"><img src="@Model.world.attributeUrlGenerator( Model.location, "image" )" width="250px" /></div>
		}
		<div class="room-desc">
			@Model.location.desc
		</div>
	</div>
	@{
		Mob player = Model.world.findObject( World.WellKnownObjects.Player );
		var players = Model.location.contained.Where( m => m.isDescendentOf( player.id ) );
		Mob exit = Model.world.findObject( World.WellKnownObjects.Portal );
		var mobs = Model.location.contained.Where( m => !m.isDescendentOf( player.id ) && !m.isDescendentOf( exit.id ) );
		var exits = Model.location.contained.Where( m => !m.isDescendentOf( player.id ) && m.isDescendentOf( exit.id ) );
	}
	@if( players.Any() )
	{
		<div class="room-box">
			<span class="room-mob-header">Players: </span>
			<span class="room-mob-name">
				@String.Join( ", ", (players.Select( m => m.name )).ToArray() )
			</span>
		</div>
	}
	@if( mobs.Any() )
	{
		<div class="room-box">
			<span class="room-mob-header">Items: </span>
			<span class="room-mob-name">
				@String.Join( ", ", (mobs.Select( m => m.name )).ToArray() )
			</span>
		</div>
	}
	@if (exits.Any())
 {
		<div class="room-box">
			<span class="room-mob-header">Exits: </span>
			<ul class="room-mob-name">
                @foreach (String exitName in exits.Select(m => m.name))
                {
                    <li class="room-link" onclick='TermAjax.exec("go @exitName", "Moving...");'>@exitName</li>
                }
			</ul>
		</div>
	}
</div>
}
 